{% extends 'ApplicationBoardBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Панель управления{% endtrans %} - {% trans %}Подписчики{% endtrans %}{% endblock %}

{% block body %}
<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('indexBoard') }}">{% trans %}Панель управления{% endtrans %}</a></li>
        <li class="breadcrumb-item">{% trans %}Подписчики{% endtrans %}</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu hidden-md-down">
            <div class="btn-group" role="group">
                <a class="btn btn-secondary" href="{{ path('settingsBoard') }}"><i class="icon-settings"></i> &nbsp;{% trans %}Настройки{% endtrans %}</a>
            </div>
        </li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-edit"></i> {% trans %}Подписчики{% endtrans %}
                            <div class="card-actions">
                                <a href="javascript:void(0)" title="{% trans %}Отправить письмо{% endtrans %}" onclick="if(confirm('{% trans %}Отправить письмо активным подписчикам?{% endtrans %}')){$('#form_action').val('send');document.form.submit();}"><i class="fa fa-envelope-o"></i></a>
                                <a href="javascript:void(0)" title="{% trans %}Сохранить{% endtrans %}" onclick="document.form.submit();"><i class="fa fa-floppy-o"></i></a>
                                <a href="javascript:void(0)" title="{% trans %}Удалить отмеченные{% endtrans %}" onclick="if(confirm('{% trans %}Вы действительно хотите удалить отмеченные пункты?{% endtrans %}')){$('#form_action').val('delete');document.form.submit();}"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>
                        <div class="card-block">
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="notice-message">
                                    {{ flashMessage | raw }}
                                </div>                             
                            {% endfor %}
                            {% if subscribes %}
                                {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" class="selectAllItems" title="{% trans %}Выбрать все{% endtrans %}"/></th>
                                                    <th>{% trans %}Email{% endtrans %}</th>
                                                    <th>{% trans %}Активен{% endtrans %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for subscribe in subscribes %}
                                                    <tr>
                                                        <td><input name="subscribeIds[]" value="{{ subscribe.id }}" type="checkbox" class="checkbox-item" /></td>
                                                        <td>{{ subscribe.email }}</td>
                                                        <td>
                                                            <label class="switch switch-icon switch-primary">
                                                                <input name="subscribeActive[{{ subscribe.id }}]" type="checkbox" class="switch-input" {% if subscribe.isActive %}checked=""{% endif %} value="1" />
                                                                <span class="switch-label" data-on="" data-off=""></span>
                                                                <span class="switch-handle"></span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                                <label class="col-md-12">{{ form_label(form.email)}}</label>
                                                <div class="col-md-12">
                                                    {{ form_widget(form.email)}}
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            {% else %}
                                {% trans %}Подписчики не добавлены{% endtrans %}
                            {% endif %}
                        </div> 
                     </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

    