<header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            {% if messages %}
                <li class="nav-item hidden-md-down">
                    <a class="nav-link" href="{{ path('messageBoard') }}"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">{{ messages | length}}</span></a>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="hidden-md-down">{{ user.name }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>{% trans %}Пользователь{% endtrans %}</strong>
                    </div>
                    <a class="dropdown-item" href="{{ path('boardUserEdit',{'userId' : 1}) }}"><i class="fa fa-user"></i> Профиль</a>
                    <a class="dropdown-item" href="{{ path('boardLogout') }}"><i class="fa fa-lock"></i> Выход</a>
                </div>
            </li>
            <li class="nav-item"></li>
           <!-- <li class="nav-item hidden-md-down">
                <a class="nav-link navbar-toggler aside-menu-toggler" href="#">☰</a>
            </li>-->
        </ul>
</header>