{{ settings.searchGoogle | raw }}
{{ settings.searchYandex | raw }}
<div class="row flex-row align-items-center justify-content-between site-header mb-auto">
    <div class="col-lg-2 col-md-2">
        <div class="site-logotype">
            {% if locale.settings.logotype %}
                <a href="{{ path('indexFront') }}">
                    <img src="{{ asset('bundles/images/site/' ~ locale.settings.logotype) }}" alt="{{ locale.settings.siteName }}" title="{{ locale.settings.siteName }}" />
                </a>
            {% endif %}
            <button class="d-block d-sm-block d-md-none" id="menu-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="col-lg-5 col-md-5">
        <div class="site-header-contacts">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item"><i class="fa fa-phone" aria-hidden="true"></i>{{ locale.settings.settingsPhone }}</li>
                <li class="list-inline-item"><i class="fa fa-envelope" aria-hidden="true"></i>{{ locale.settings.settingsEmail }}</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="site-header-request">
            <button data-toggle="modal" data-target="#orderModal"><div>{% trans %}Оставить заявку{% endtrans %}</div></button>
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <ul class="list-unstyled list-inline site-header-socials">
            <!--<li class="list-inline-item"><button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>-->
            <li class="list-inline-item"><a href="{{ locale.settings.socialInstagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="{{ locale.settings.socialFacebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="{{ locale.settings.socialVk }}"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>
