{% extends 'ApplicationBoardBundle:Common:base.html.twig' %}

{% block title %}{% trans %}Панель управления{% endtrans %} - {% trans %}Настройки сайта{% endtrans %}{% endblock %}

{% block body %}
<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('indexBoard') }}">{% trans %}Панель управления{% endtrans %}</a></li>
        <li class="breadcrumb-item">{% trans %}Настройки сайта{% endtrans %}</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu hidden-md-down">
            <div class="btn-group" role="group">
                <a class="btn btn-secondary" href="{{ path('settingsBoard') }}"><i class="icon-settings"></i> &nbsp;{% trans %}Настройки сайта{% endtrans %}</a>
            </div>
        </li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-edit"></i> {% trans %}Настройки сайта{% endtrans %}
                        </div>
                        <div class="card-block">
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="notice-message">
                                    {{ flashMessage | raw }}
                                </div>                             
                            {% endfor %}
                            {% if locales %}
                                <ul class="nav nav-tabs">
                                    {% set i = 1 %}
                                        {% for locale in locales %}
                                            <li class="nav-item">
                                                <a class="nav-link {% if i == 1 %}active{% endif %}" data-toggle="tab" role="tab" href="#locale_{{ locale.code }}" aria-controls="locale_{{ locale.code }}"><img src="{{ asset('bundles/board/img/flags/' ~ locale.country) }}" />&nbsp;{{ locale.name }}</a>
                                            </li>
                                            {% set i = i + 1%}
                                        {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% set i = 1 %}
                                    {% for locale in locales %}
                                        <div id="locale_{{ locale.code }}" class="tab-pane {% if i == 1 %}active{% endif %}">
                                            {{ form_start(settingsForms[locale.code], {'attr' : {'class' : 'form-horizontal'}})}}
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item" >
                                                        <a class="nav-link active" data-toggle="tab" href="#common_{{ locale.code }}">Общие настройки</a>
                                                    </li>
                                                    <li class="nav-item" >
                                                        <a class="nav-link" data-toggle="tab" href="#socials_{{ locale.code }}">Социальные сети</a>
                                                    </li>
                                                    <li class="nav-item" >
                                                        <a class="nav-link" data-toggle="tab" href="#search_{{ locale.code }}">Поисковые системы</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="common_{{ locale.code }}" class="tab-pane active">
                                                        <div class="form-group">
                                                            <label class="col-md-12">{{ form_label(settingsForms[locale.code].logotypeNew)}}</label>
                                                            {% if settingsForms[locale.code].vars.value.logotype is defined %}
                                                                <div class="col-md-12"><img class="m-b-15" src="{{ asset('bundles/images/site/' ~ settingsForms[locale.code].vars.value.logotype) }}" alt="" title=""  /></div>
                                                            {% endif %}
                                                            <div>
                                                                {{ form_widget(settingsForms[locale.code].logotype)}}
                                                                {{ form_widget(settingsForms[locale.code].logotypeNew)}}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label >{{ form_label(settingsForms[locale.code].siteName)}}</label>
                                                            <div>
                                                                {{ form_widget(settingsForms[locale.code].siteName)}}
                                                            </div>
                                                        </div> 
                                                        <div class="form-group">
                                                            <label >{{ form_label(settingsForms[locale.code].settingsEmail)}}</label>
                                                            <div>
                                                                {{ form_widget(settingsForms[locale.code].settingsEmail)}}
                                                            </div>
                                                        </div>   
                                                        <div class="form-group">
                                                            <label >{{ form_label(settingsForms[locale.code].settingsPhone)}}</label>
                                                            <div>
                                                                {{ form_widget(settingsForms[locale.code].settingsPhone)}}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label >{{ form_label(settingsForms[locale.code].copyright)}}</label>
                                                            <div>
                                                                {{ form_widget(settingsForms[locale.code].copyright)}}
                                                            </div>
                                                        </div>  
                                                    </div>
                                                    <div id="socials_{{ locale.code }}" class="tab-pane">
                                                        <div class="form-group">
                                                            <label >{{ form_label(settingsForms[locale.code].socialVk)}}</label>
                                                            <div>
                                                                {{ form_widget(settingsForms[locale.code].socialVk)}}
                                                            </div>
                                                        </div> 
                                                        <div class="form-group">
                                                            <label >{{ form_label(settingsForms[locale.code].socialYoutube)}}</label>
                                                            <div>
                                                                {{ form_widget(settingsForms[locale.code].socialYoutube)}}
                                                            </div>
                                                        </div> 
                                                        <div class="form-group">
                                                            <label >{{ form_label(settingsForms[locale.code].socialInstagram)}}</label>
                                                            <div>
                                                                {{ form_widget(settingsForms[locale.code].socialInstagram)}}
                                                            </div>
                                                        </div>  
                                                        <div class="form-group">
                                                            <label >{{ form_label(settingsForms[locale.code].socialFacebook)}}</label>
                                                            <div>
                                                                {{ form_widget(settingsForms[locale.code].socialFacebook)}}
                                                            </div>
                                                        </div> 
                                                    </div>
                                                    <div id="search_{{ locale.code }}" class="tab-pane">
                                                        <div class="form-group">
                                                            <label >{{ form_label(settingsForms[locale.code].searchGoogle)}}</label>
                                                            <div>
                                                                {{ form_widget(settingsForms[locale.code].searchGoogle)}}
                                                            </div>
                                                        </div> 
                                                        <div class="form-group">
                                                            <label >{{ form_label(settingsForms[locale.code].searchYandex)}}</label>
                                                            <div>
                                                                {{ form_widget(settingsForms[locale.code].searchYandex)}}
                                                            </div>
                                                        </div> 
                                                    </div>
                                                    <div class="col-lg-12"><button class="btn btn-primary m-r-5" type="submit">Сохранить</button></div>
                                                </div>
                                            {{ form_end(settingsForms[locale.code]) }}
                                        </div>
                                    {% set i = i + 1%}
                                    {% endfor %}    
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock%}